*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: customFonts;
    src: url(fonts.ttf);
  }

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden !important;
    text-align: center !important;
}

.fadein {
    text-align: center !important;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

.fadeinv2 {
    text-align: center !important;
    display: flex !important;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.katakata {
    font-size: 50px;
    color: #fff;
    font-family: customFonts;
}

#div1 {
    height: 100vh;
    background: #fe5d9f;
    display: flex;
    align-items: center;
    justify-content: center;
}


#div2 {
    height: 100vh;
    background: #0496ff;
    display: none;
    align-items: center;
    justify-content: center;
}

.buttons {
    text-align: center;
    border-radius: 6px;
}

.tombolAnimasi {
    z-index: 1;
    position: relative;
    padding: 20px 46px;
    text-align: center;
    text-transform: uppercase;
    color: #0496ff;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
    border-radius: 30px;
}

.tombolAnimasi:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}

.tombolAnimasi:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 100%;
    height: 100%;
    transition: all 0.3s 0.2s;
    border-radius: 30px;
}

.tombolAnimasi:hover {
    color: #FFFFFF;
    border-radius: 30px;
}

.tombolAnimasi:hover:after {
    transition: all 0.3s;
    left: 0;
    top: 0;
    border-radius: 30px;
}

.tombolAnimasi__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: #ffffff;
}

.tombolAnimasi__blob {
    position: absolute;
    top: 2px;
    width: 25%;
    height: 100%;
    background: #0496ff;
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s;
}

.tombolAnimasi__blob:nth-child(1) {
    left: 0%;
    transition-delay: 0s;
}

.tombolAnimasi__blob:nth-child(2) {
    left: 30%;
    transition-delay: 0.08s;
}

.tombolAnimasi__blob:nth-child(3) {
    left: 60%;
    transition-delay: 0.16s;
}

.tombolAnimasi__blob:nth-child(4) {
    left: 90%;
    transition-delay: 0.24s;
}

.tombolAnimasi:hover .tombolAnimasi__blob {
    transform: translateZ(0) scale(1.7);
}


@media (min-width: 260px) and (max-width: 690px) {
    .katakata {
        font-size: 40px;
        color: #fff;
        font-family: customFonts;
    }
}